* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#mobilefriendly {
  display: none;
}
.menu-btn {
  display: none;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 10px;
  position: fixed;
  background-color: white;
  border-bottom: 0.5px solid #dedede;
  font-size: smaller;
}

header section {
  align-items: center;
}

header .headerleft {
  display: flex;
  margin-left: 10px;
}

header .headerright {
  display: flex;
}

.logo {
  width: 125px;
  display: flex;
  align-items: center;
}
.logo img {
  width: 100%;
  align-items: center;
}
.button {
  border-radius: 5px;
  background-color: #0c2ed6;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  margin-left: 20px;
}
.searchbar {
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search-field {
  width: 100%;
  padding: 10px 35px 10px 15px;
  border: 1px solid blue;
}

.search-button {
  width: 35px;
  height: 38px;
  background: #0c2ed6;
  margin-left: -35px;
}

.search-button img {
  width: 70%;
  height: 70%;
  object-fit: cover;
}

.navbar {
  width: 100%;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  padding: 0;
  color: black;
  font-size: 12px;
  margin-right: 15px;
  justify-content: flex-end;
}
.navbar li a {
  text-decoration: none;
  color: black;
}
.joining {
  width: auto;
  display: flex;
  align-items: center;
}
/*
  .joining .button {
      width: 100%;
  }*/

.joining a {
  text-decoration: none;
  width: auto;
  font-size: 11px;
}
.maininfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}
.maintext {
  flex-basis: 55%;
  height: 500px;
  padding-top: 70px;
  padding-left: 120px;
  flex-shrink: 0;
}
.maintext h1 {
  font-size: 6vw;
  font-weight: normal;
}
.maintext p {
  font-size: 1.3vw;
  line-height: 1.8em;
  margin-bottom: 50px;
  padding-right: 80px;
}
.maintext a {
  text-decoration: none;
}

.maintext a.button {
  width: 20px;
  font-size: 1vw;
  margin: 0px;
  padding: 1.5em 3em;
}

a.whitebutton {
  border: 2px solid blue;
  border-radius: 5px;
  background-color: white;
  padding: 10px 20px;
  color: blue;
  font-weight: bold;
  margin-left: 20px;
  font-size: 1vw;
  padding: 1.5em 3em;
}

.mainimg {
  flex-basis: 40%;
  flex-shrink: 2;
  margin-left: 60px;
}
.unis {
  margin-top: 75px;
  background-color: #fafafa;
  padding: 75px;
}
.unis p {
  font-size: 28px;
  text-align: center;
}
.unis p a {
  text-decoration: none;
}
.imgsrow {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  padding: 40px 60px 20px 60px;
}
.imgsrow .imgbunchin {
  display: inline-block;
  margin: 0 10px 30px;
}

.professionalcert {
  width: 100%;
  margin: 40px auto;
  overflow: hidden;
}
h3 {
  color: blueviolet;
  padding-top: 20px;
}
.professionalcert h1 {
  font-size: 40px;
  font-weight: normal;
  margin-top: 15px;
}
.professionalcert p {
  font-size: larger;
  margin: 15px auto;
}
.unisrow {
  margin-top: 30px;
  display: flex;
  align-items: center;
}
.unisrow img {
  width: 275px;
  margin-right: 30px;
}
.rightarrow {
  width: 20px;
}
.rightarrow img {
  width: 100%;
}
.uniselect {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.uniselect img {
  width: 15px;
  margin-right: 15px;
}

footer {
  background-color: #fafafa;
  height: auto;
}

#fsection {
  display: flex;
  padding-top: 100px;
  padding-left: 150px;
  width: 100%;
}

.footerrow {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
}
.f-row-item {
  padding: 8px;
  font-size: 12px;
}
.f-row-item a {
  text-decoration: none;
  color: black;
}

.f-row-item:first-of-type {
  font-weight: bold;
  font-size: 18px;
}

/*footer hr {
    padding: 50px;
    width: 500px;
    size: 3px;

}*/
#fsectiontwo {
  margin: 100px 150px 0px 150px;
  border-top: 1px solid gray;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

#fsectiontwo p {
  font-size: 14px;
  color: gray;
}
#fimgs img {
  padding-left: 20px;
}

@media (min-width: 751px) and (max-width: 1000px) {
  #fullscreen {
    display: none;
  }

  #mobilefriendly {
    width: 100%;
    display: contents;
    display: flex;
    position: fixed;
  }

  #mobilefriendly .logo {
    width: 100px;
    justify-content: center;
  }
  #mobilefriendly #search {
    width: 20px;
  }
  .menu-lines {
    padding: 28px 20px;
    position: relative;
    float: left;
    cursor: pointer;
  }
  .nav-lines,
  .nav-lines::before,
  .nav-lines::after {
    display: block;
    background: rgb(0, 0, 0);
    width: 20px;
    height: 2px;
    position: relative;
  }

  .nav-lines::before,
  .nav-lines::after {
    content: "";
    position: absolute;
  }

  .nav-lines::before {
    bottom: 7px;
  }

  .nav-lines::after {
    top: 7px;
  }

  .menu-btn {
    display: none;
  }

  .maininfo {
    width: 100%;
  }

  .maintext h1 {
    font-size: 6vw;
    font-weight: normal;
  }
  .maintext p {
    font-size: 16px;
    line-height: 1.8em;
    margin-bottom: 50px;
    padding-right: 80px;
  }
  .maintext a.button {
    font-size: 1vw;
    margin: 0px;
    padding: 20px 20px;
  }
  a.whitebutton {
    border: 2px solid blue;
    border-radius: 5px;
    background-color: white;
    padding: 10px 20px;
    color: blue;
    font-weight: bold;
    margin-left: 20px;
    font-size: 1vw;
    padding: 20px 20px;
  }
  .maintext a {
    text-decoration: none;
  }

  .maininfo .mainimg {
    width: 600px;
  }
  .maininfo .mainimg img {
    width: 100%;
  }

  .unis {
    margin-top: 0px;
  }
  .imgsrow {
    flex-wrap: wrap;
  }
}

@media (max-width: 750px) {
  #fullscreen {
    display: none;
  }

  .menu-lines {
    padding: 28px 20px;
    position: relative;
    float: left;
    cursor: pointer;
  }
  .nav-lines,
  .nav-lines::before,
  .nav-lines::after {
    display: block;
    background: rgb(0, 0, 0);
    width: 20px;
    height: 2px;
    position: relative;
  }

  .nav-lines::before,
  .nav-lines::after {
    content: "";
    position: absolute;
  }

  .nav-lines::before {
    bottom: 7px;
  }

  .nav-lines::after {
    top: 7px;
  }

  #mobilefriendly {
    display: contents;
    display: flex;
    position: fixed;
  }

  #mobilefriendly .logo {
    width: 100px;
    justify-content: center;
  }
  #mobilefriendly #search {
    width: 20px;
  }

  .maininfo {
    width: 100%;
  }
  .mainimg {
    display: none;
    width: 0;
  }

  .maintext {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
  }

  .maintext h1 {
    font-size: 9.5vw;
  }

  .maintext p {
    font-size: 3vw;
  }

  .maintext a.button {
    font-size: 2.5vw;
    margin: 0px;
    padding: 1.5em 3em;
    width: 70%;
  }

  a.whitebutton {
    border: 2px solid blue;
    border-radius: 5px;
    background-color: white;
    color: blue;
    font-weight: bold;
    margin: 0px;
    margin-top: 10px;
    font-size: 2.5vw;
    padding: 1.5em 3em;
    width: 70%;
  }

  .imgsrow {
    flex-wrap: wrap;
    padding: 0;
  }

  #fsection {
    display: flex;
    flex-direction: column;
  }

  .footerrow {
    padding-top: 50px;
  }
  #fimgs {
    display: none;
  }
}
